/* @import "https://use.fontawesome.com/releases/v5.5.0/css/all.css"; */
/*jaja*/
@font-face {
  font-family: "RobotoCondensed";
  src: url("/static/font/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "王漢宗特黑體";
  src: url("/static/font/wt014.ttf");
}


html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: RobotoCondensed;
  background: #16214a;
}

image {

  width: 100%;
  object-fit: cover;
}

img {
  width: 100%;

}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.background {
  aspect-ratio: 1920 / 1080;
  width: 100%;
  /* padding-top: 56.25%; */
  background-repeat: no-repeat;
  background-size: contain;
}

.upload-image {
  aspect-ratio: 1920 / 1080;
  width: 100%;
  /* padding-top: 56.25%; */
  background-image: url("/static/image/上傳空白.jpg");
  /*https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size*/
  background-repeat: no-repeat;
  background-size: contain;
}

.about {
  background-color: #293b87;
  word-wrap: break-word;
  height: 50%;
  width: 56.5%;
  position: absolute;
  top: 35%;
  left: 11.1%;
  border-radius: 2%;
  overflow: auto;
}

.about-body {
  padding: 35px 35px;
}

.about-text {
  font-size: 4.5vmin;
  color: #afe0ff;
  font-weight: bold;

}

.back-button {
  position: absolute;
  right: 20%;
  bottom: 5%;
  width: 13%;
  background-color: transparent;
  border: none;
}

.upload-icon {
  aspect-ratio: 1283 / 688;
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 66%;
  /* height: 500px; */
  border: none;
  background-image: url("/static/image/選擇檔案.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  font-family: RobotoCondensed;
  width: 20%;
  background-color: #3e54c1;
  border: none;
  color: white;
  padding: 1vmin;
  font-size: 3.7vmin;
  font-weight: bold;
  cursor: pointer;
  margin: 12px 0;
  float: right;

}

.btn:hover {

  background-color: rgb(37, 37, 37);
}

.check {
  font-family: 王漢宗特黑體;
  font-size: 20px;
  color: black;
}

.text-box {
  background-color: #E3E8FE;
  font-family: 王漢宗特黑體;
  text-align: center;
  color: black;
  padding: 10% 5%;
  font-size: 3.7vmin;

}

.text-box.title {

  background-color: #9DACFF;
}

.text-box.serial {
  background-color: #cdd6fe;
}


.result-container {
  font-family: 王漢宗特黑體, RobotoCondensed;
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 10%;
  top: 27%;
}

.result-block {
  width: 100%;

}

.about-body {
  padding: 35px 35px;
}

.result-box {
  width: 100%;
  text-align: center;
  padding: 20% 5%;
  font-size: 3vmin;
  color: white;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;

}

.result-box.left {
  background-color: #277aa6;

}

.result-box.left.title {
  background-color: #37c9f0;

}

.result-box.right {
  background-color: #4592a2;

}

.result-box.right.title {
  background-color: #3edad7;

}

.acc-box {
  width: 100%;
  text-align: left;
  padding: 7% 5%;
  font-size: 3.7vmin;
  color: white;
}